body {
  margin: 0;
  padding: 0px;
  min-width: 1200px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
}

button {
  outline-style: none;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0px solid;
}

.main-box,
.slider-box {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
 
}

.map-wrapper{
    position:relative
}

.main-footer {
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: block;
  width: 240px;
  padding: 13px 0;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
    
  background-color: #fb565a;
  border-radius: 3px;
  border: none;  
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: #eeeeee;
}

.site-navi a {
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.cart {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 280px;
  padding-top: 30px;
  position: relative;
}

.cart::before {
  content: "";  
  background-image: url(../img/cart-icon-svg.svg);
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: -40px;
  margin-top: 8px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navi a:hover,
.site-navi a:focus,
.cart:hover,
.cart:focus {
  color: #fb565a;
}

.site-navi a:active,
.cart a:active {
  color: #ffffff;
  opacity: 0.3;
}

.site-navi-current a {
  border-bottom: 3px solid #fb565a;
}

.slider {
  position: relative;
  background: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}



.slide {
  display: none;
  padding: 78px 0 80px 0;
  
}


.slide:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 430px 13px;
}

.slide:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 500px 0;
}

.slide:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 400px 20px;
}

#product-1:checked ~ .slider-list .slide:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slide:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slide:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-item-1::before,
#product-2:checked ~ .slider-controls .slider-item-2::before,
#product-3:checked ~ .slider-controls .slider-item-3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slide h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide p {
  color: #283136;
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.service-1::before {
  display: block;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url(../img/il-1.png);
}

.service-2::before {
  display: block;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url(../img/il-2.png);
}

.service-3::before {
  display: block;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url(../img/il-3.png);
}

.service h3 {
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.service p {
  color: #283136;
  text-align: left;  
}

.order-button {
  width: 160px;
}

.button-2 {
  background-color: #00ca74;
}

.button-2:hover,
.button-2:focus {
  background-color: #00bc6c;
}

.button-2:active {
  background-color: #00aa62;
}

.button-3 {
  background-color: #efc84a;
}

.button-3:hover,
.button-3:focus {
  background-color: #eab534;
}

.button-3:active {
  background-color: #e5a722;
}

.services strong {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;  
}

.services p {
  display: block;
  color: #283136;
  margin-top: 40px;
  margin-bottom: 45px;
}

.services b {
  display: block;
  margin-bottom: 12px;
}

.services b,
.statistics caption {
  font-weight: 700;
  text-transform: uppercase; 
}

.about-us {
    width: 360px;
    min-height: 130px;
}

.about-us caption {
  padding-top: 36px;
  padding-bottom: 40px;
}

.sabout-us td {
  width: 120px;
}


.about-us tr:first-child {
  font-size: 45px;
  font-weight: 700;
  text-align: left;
}

.about-us tr:nth-child(2) {
  color: #283136;
  line-height: 20px;
}
 sup {
  font-size: 28px;
}

.orders-list {
  padding-left: 35px;
  line-height: 35px;
}

.orders-list li {
  color: #283136;
  line-height: 48px;
}

.orders-list li::before {
  content: "";
  background: #fb565a; 
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  
  margin-left: -35px;
  margin-top: 22px;
  }

.customers li {
  opacity:  0.2;
}

.customers li:hover {
  opacity:  1;    
}

.test:focus {
  opacity: 1;
}
.customers li a:active {
  opacity:  0.1;
}

.customers-list {
  display: flex;
  box-sizing: border-box;
  width: 1160px;
  height: 180px;
  padding-left: 30px;
  padding-right: 40px;
  margin-bottom: 80px;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.title {
  display: block;
  box-sizing: border-box;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 45px;
  padding-bottom: 103px;
}


.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center; 
  margin-top: 0;
}

.price {
  width: 260px;
}

.filters legend {
  font-size: 18px;  
  font-weight: 700;
  line-height: 30px;    
  text-transform: uppercase;
  margin-top: 0;
}

.range-filter {
  width: 260px;
  margin-top: 55px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 15px;
}

.range-controls .toggle-max {
  left: 170px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;  
}

.max-price {
  text-align: right;
  color: #283136;
}

.price legend {
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-top: 0;
}

.filter-option {
  line-height: 40px;
}

.checkbox label, 
.checkbox label:hover {
  color: #283136;
  line-height: 20px;
}

.checkbox label:disabled {
  opacity: 0.3;
}

.grid label {
  color: #283136;
}

.grid label:hover {
  color: #000000;
}

.grid label:active {
  opacity: 0.3;
}


.filter-option label {
  display: inline-block;
  position: relative;
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url(../img/radio-off.svg) left top no-repeat;
  opacity: 0.4;
  margin-right: 10px;
}

input[type="radio"]:disabled + label::before {
  opacity: 0.1;
}

input[type="radio"] + label:hover::before,
input[type="radio"]:focus + label::before { 
  opacity: 1;
}

input[type="radio"]:focus + label {
  color: #000000;
}

input[type="radio"]:checked + label::before { 
  background: url(../img/radio-on.svg) left top no-repeat;
}


input[type="checkbox"] + label::before {
  display: inline-block;
  content: "";
  width: 27px;
  height: 23px;
  vertical-align: middle;
  background: url(../img/checkbox-off.png) left top no-repeat;
  opacity: 0.4;
  margin-right: 10px;
}

input[type="checkbox"] + label:hover::before,
input[type="checkbox"]:focus + label::before {
  opacity: 1;
}

input[type="checkbox"]:checked + label::before {
  background: url(../img/checkbox-on.png) left top no-repeat;
}

input[type="checkbox"]:disabled + label::before {
  opacity: 0.1;
}

.filter-button {
  width: 260px;
  background: #eeeeee;
  color: #000000;
}

.filter-button:hover,
.filter-button:focus {
  background: #dfdfdf;
}

.filter-button:focus {
  outline-width: 0;
}

.filter-button:active {
  background: #d5d5d5;
}

.sorting h3 {  
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 6px;
  margin-left: 40px;
  margin-right: 265px;
}

.sorting-type a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
  margin-right: 25px;
}

.sorting-type a:hover,
.sorting-type a:focus {
  opacity: 0.6;
}

.sorting-type a:active {
  opacity: 1;
}

.sorting-order {
  margin-top: 3px;
}

.sorting-order a {
  opacity: 0.2;
  margin-top: 4px;
}

.sorting-order a:hover,
.sorting-order a:focus {
  opacity: 0.6;
}

.sorting-order a:active {
  opacity: 1;
}

.current a {
    opacity: 1;}

.catalog-item::before {
  content: "";
  background-image: url("../img/browser.svg"); 
  display: block;
    box-sizing: border-box;
  width: 360px;
  height: 40px;
  opacity: 0.12;    
 }

.catalog-item:hover::before {
  opacity: 1;    
 }

.catalog-item:hover .catalog-item-card {
  opacity: 1;
}

.catalog-item:hover {
  border: 1px solid rgba(77, 77, 77, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-item-card {
  display: block;
  box-sizing: border-box;
  background: #eeeeee;
  opacity: 0;
  width:  360px;
  min-height: 230px;
  position: relative;
  bottom: 257px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;
  margin-bottom: -257px;
}

.catalog-item-card:hover {
  opacity: 1;
}

.hide:focus + .catalog-item-card {
  opacity: 1;
}


.catalog-item-title {
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center; 
  padding-top: 30px;
}

.card:focus ~ .catalog-item-card {
  opacity: 1;
}
.catalog-item-card p {
  box-sizing: border-box;
  line-height: 18px;  
  color: #666666;
  text-align: center; 
}


.button-price {
  display: block;
  box-sizing: border-box;
  width: 200px;
  margin-left: 80px;
  margin-top: 30px;    
}


.pagination-item a {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 10px;
  margin-top: 60px;
  background: #eeeeee;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background: #dbdbdb;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background: #ffffff;
  border: 3px solid #dbdbdb;
}


.next a {
  width: 260px;
}



.contact-us {
  display: block;
  box-sizing: border-box;
  width: 320px;
  height: 320px;
  position: absolute;
  padding-left: 50px;
  padding-top: 54px;
  padding-bottom: 47px;
  left: 140px;
  top: 55px;
  background-color: #ffffff;
    z-index: 100;
}
.contact-us-catalogue {
    display: block;
  box-sizing: border-box;
  width: 320px;
  height: 320px;
  position: relative;
    top: 0px;
    left: 0px;
  z-index: 1000;
  background-color: #ffffff;
}

.contact-us span {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-us p {
  line-height: 18px;
  color: #666666;
}

.tel {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
  text-transform: lowercase;    
}

.letter-button {
  width: 220px;
  margin-top: 40px;
}





.modal-content{
    position:fixed;
    top:80px;
    left:50%;
    display:none;
    box-sizing:border-box;
    padding:56px 90px 49px 80px;
    margin-left:-315px;
    width:630px;
    text-align:left;
    font-size:16px;
    font-weight:500;
    line-height:18px;
    color:#000;
    background-color:#fff;
    box-shadow:0 20px 40px 10px rgba(0,0,0,.4);
    z-index:1000;
}
.modal-content-close{
    position:absolute;
    top:6px;
    right:6px;
    width:41px;
    height:41px;
    background-color:#fb565a;
    border-radius:50%;
    cursor:pointer;
}
.modal-content-close:hover{
    background-color:#d6494d;
}
.modal-content-close:active{
    background-color:#b63538;
}
.modal-content-close:before{
    content:"";
    position:absolute;
    top:19px;
    left:9px;
    width:23px;
    height:4px;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    background-color:#fff;
}
.modal-content-close:after{
    content:"";
    position:absolute;
    top:19px;
    left:9px;
    width:23px;
    height:4px;
    -webkit-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    transform:rotate(135deg);
    background-color:#fff;
}
.modal-content p{margin:0;
    padding:0;
    font-family:Roboto,Arial,sans-serif;
    font-size:16px;
    font-weight:500;
    line-height:18px;
}
.modal-content label{
    float:left;
    width:220px;
    margin-right:20px;
    margin-bottom:12px;
}
.modal-content label:nth-child(2){
    margin-right:0;
}
.modal-content input[type=text],.modal-content textarea,.modal-content input[type=submit],.modal-content input[type=reset]{
    float:left;
    margin:0;
    padding:0;
    padding-top:9px;
    padding-bottom:10px;
    padding-left:14px;
    box-sizing:border-box;
    width:220px;
    margin-right:20px;
    text-transform:uppercase;
    font-family:Roboto,Arial,sans-serif;
    font-size:12px;
    font-weight:500;
    line-height:18px;
    color:#000;
    border:2px solid #d7dcde;
    border-radius:3px;
    outline:none;
}
.modal-content input[type=text]{margin-bottom:25px}.modal-content input[type=text]:nth-child(2){margin-right:0}.modal-content p:nth-child(3){
    margin-bottom:12px;
}
.modal-content textarea{
    float:none;
    margin-right:0;
    margin-bottom:48px;
    width:460px;
}
.modal-content input[type=text]:hover,textarea:hover{border:2px solid #a2a9ac}.modal-content input[type=text]:focus,textarea:focus{
    border:2px solid #56bffb;
}
.modal-content input[type=submit],.modal-content input[type=reset]{
    padding-top:11px;
    padding-bottom:12px;
    padding-left:0;
    color:#fff;
    border:none;
    outline:none;
}
.modal-content input[type=reset]{
    margin-right:0;
    background-color:#f1f1f1;
    color:#000;
}
.modal-content input[type=submit]{
    background-color:#fb565a;
}
.modal-content input[type=submit]:hover{
    background-color:#d6494d;
}
.modal-content input[type=submit]:active{
    padding-top:8px;
    background-color:#b63538;
    border-top:3px solid #9b2d30;
}
.modal-content input[type=reset]:hover{
    background-color:#e5e5e5;
}
.modal-content input[type=reset]:active{
    padding-top:8px;
    background-color:#d5d5d5;
    border-top:3px solid #b5b5b5;
}
.modal-error{
    -webkit-animation:shake .6s;
    animation:shake .6s;
}
@keyframes shake{0%,100%{-webkit-transform:translateX(0)
    transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px)}}@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px)}}

.modal-content-show{
    display:block;
    -webkit-animation:bounce .6s;
    animation:bounce .6s;}

@-webkit-keyframes bounce{0%{-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}70%{-webkit-transform:translateY(30px);transform:translateY(30px)}90%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes bounce{0%{-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}70%{-webkit-transform:translateY(30px);transform:translateY(30px)}90%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}


.clearfix-1:after{content:"";display:block;clear:both}



.footer-social {
  display: flex;
  flex-direction: row-reverse;
  height: 220px; 
  justify-content: flex-end;
  align-items: center;
  margin-left: -12px;
}

.social-wrapper {
  display: block;
  box-sizing: border-box;  
  padding-top: 18px;  
}

.social-button-wrapper {
  display: flex;  
  margin-right: 140px;  
  align-items: center;
}

.social-wrapper b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.social-wrapper p {
  color: #444444;
  line-height: 22px;
}

.social-button {
  display: flex;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none; 
  margin-left: 12px;  
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}



.main-navi {
  display: flex;
  min-height: 115px; 
  padding-top: 50px;  
}
 
.main-header-logo {
  width: 160px;
  height: 65px;
}
  
.site-navi {
  display: flex;
  width: 440px;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 200px;
  padding: 0;
}


.service {
  display: flex;
  width: 1100px;
  
  margin-top: 80px;
  padding-bottom: 80px;
  justify-content: space-between;
}

.services {
  display: flex;
  width: 1160px;
  padding-top: 40px;
  margin-bottom: 77px;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
}

.services-wrapper {
  width: 660px;
  padding-top: 35px;
    
}

.wrapper {
  display: flex;
  width: 300px;
  margin-top: 60px;
  align-items: flex-start;
}

.sorting-catalog-wrapper {
  margin-left: 100px;
  min-width: 800px;
  align-items: center;
  
}

.sorting-type {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.sorting {
  display: flex;
  align-items: flex-start;
}

.sorting-order {
  display: flex;
  width: 40px;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  
}

.catalog-list {
  display: flex;
  min-width: 820px;
  padding-top: 50px;
  flex-wrap: wrap;
}


.catalog-item {
  display: block;
  box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 33px;
}

.pagination-list {
  display: flex;
  margin-left: 40px;
}

.map{background-color:#eee}
.map{
    margin:0;
    padding:0;
    width:100%;
    height:416px;
    z-index:10;
    margin-top: 30px;
}
